name: Create and publish a Docker image
on:
    push:
        branches: ['release']

env:
    REGISTRY_URL: ghcr.io
    IMAGE_NAME: ${{github.repository}}

jobs:
    build-and-push-image:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
        
        steps:
            - name: Checkout repository
              uses: actions/checkout@v6
            - name: Log in to the container registry
              uses: docker/login-action@v3
              with:
                registry: ${{env.REGISTRY_URL}}
                username: ${{github.actor}}
                password: ${{secrets.GITHUB_TOKEN}}
