name: Create and publish a container image on  github registry
on:
    push:
      branches:
        - 'main'
        - 'release'
env:
    REGISTRY_URL: "ghcr.io"
    IMAGE_NAME: ${{github.repository}}

jobs:
    build-and-push-image:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
        
        steps:
            - name: Checkout repository
              uses: actions/checkout@v6
            - name: Log in to the container registry
              uses: docker/login-action@v3
              with:
                registry: ${{env.REGISTRY_URL}}
                username: ${{github.actor}}
                password: ${{secrets.GITHUB_TOKEN}}
            - name: Extract metadata (tags, labels) for Docker
              id: meta
              uses: docker/metadata-action@v5
              with:
                images: ${{env.REGISTRY_URL}}/${{env.IMAGE_NAME}}
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v2
            - name: Build and push Docker image
              uses: docker/build-push-action@v6
              with:
                context: .
                file: ./Dockerfile
                push: true
                tags: ${{steps.meta.outputs.tags}}
                labels: ${{steps.meta.outputs.labels}}
